{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/style_event_list.css')}}">
{% endblock %}

{% block body %}   
  <div class="flash">
      {% include "shared/_messages_flash.html.twig" %}
  </div>

  {% include "shared/_search_event_form.html.twig" with {'form' : form} %}

  <main>
    <section>
      {% if all < 1 %}
        <h2>Aucun résultat</h2>
      {% elseif all == 1 %}
        <h2>{{all}} séance a été proposée. Fais ton choix !</h2>
      {% else %}
        <h2>{{all}} séances ont été proposées. Fais ton choix !</h2>
      {% endif %}

      <div class="knp">
        {{knp_pagination_render(events)}}
        <div class="sortable">
          tri :
          <button class="btn btn-outline-primary">{{knp_pagination_sortable(events, 'date', 'e.meetingDatetime')}}</button>
          <button class="btn btn-outline-primary">{{knp_pagination_sortable(events, 'département', 'e.meetingPostalCode')}}</button>
        </div>
      </div>

      {% for e in events %}
        <article>

          {% include "shared/_event_description.html.twig" with {'event' : e} %}

          <div class="boutons">
            <a href="{{path('event_reply_participate', {'id':e.id})}}" class="btn btn-primary">
              <i class="fas fa-check"></i> J'y vais !
            </a>
            <a href="{{path('event_reply_interested', {'id':e.id})}}" class="btn btn-warning">
              <i class="fas fa-star"></i> Ça m'intéresse
            </a>
          </div>
        </article>
      {% endfor %}

      {{knp_pagination_render(events)}}
      
    </section>
  </main>

{% endblock %}