{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style_event_create.css')}}">
{% endblock %}

{% block body %}
    <main>
        <h1>Modification des informations de la séance "{{event.title}}"</h1>

        {{ form_start(form) }} 
        {{ form_widget(form) }}

        <button class="btn btn-primary" type="submit">Modifier</button>

        {{ form_end(form) }}

    </main>
{% endblock %}