{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style_loginForm.css')}}">
{% endblock %}

{% block body %}
        <div class="w-75 mx-auto">
            {% include "shared/_messages_flash.html.twig" %}
        </div>

    <main>
        <h1>Réinitialisation du mot de passe</h1>

        {{form_start(form)}}
            {{form_widget(form)}}
            <input type="hidden" name="token" value="{{ token }}">
            <button class="btn btn-primary" type="submit">Envoyer</button>
        {{form_end(form)}}
    </main>
{% endblock %}
