{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/style_admin_event_list.css')}}">
{% endblock %}

{% block body %}
    <div class="flash">
        {% include "shared/_messages_flash.html.twig" %}
    </div>
    
    <main>
      <section>
        <a href="{{path('admin_home')}}" class="btn btn-light button-back">
            <i class="fas fa-angle-double-left"></i> Retour
        </a>

        {% if events | length > 0 %}
            <h2>{{events | length}} séances créées :</h2>

            {% for e in events %}
                <article>
                    <div class="top">
                    <h3>{{e.title}}</h3>
                    <div>
                        <h6 class="m-0 me-2 p-0">Date :</h6>
                        <p class="m-0 p-0">{{e.meetingDatetime | date('d-m-Y, H:i:s')}}</p>
                    </div>
                    <div>
                        <h6 class="m-0 me-2 p-0">Lieu :</h6>
                        <p class="m-0 p-0">
                        {{e.meetingPlace}}, {{e.meetingPostalCode}}, {{e.meetingCity}}
                        </p>
                    </div>
                    </div>

                    <div class="bas">
                        <div>
                            <h6 class="m-0 me-2 p-0">Instrument :</h6>
                            <p class="m-0 p-0">{{e.instrument}}</p>
                        </div>
                        <div>
                            <h6 class="m-0 me-2 p-0">Style de musique :</h6>
                            <p class="m-0 p-0">{{e.typeOfMusic}}</p>
                        </div>
                        <div>
                            <h6 class="m-0 me-2 p-0">Infos supplémentaires :</h6>
                            <p class="m-0 p-0">{{e.content}}</p>
                        </div>
                    </div>

                    <div class="boutons">
                        <a href="{{path('admin_event_show', {'id' : e.id })}}" class="btn btn-primary">
                            <i class="fas fa-info-circle"></i> Détails
                        </a>
                    </div>
                </article>
            {% endfor %}

        {% else %}
            <div class="no-event">
                <h5>Aucune séance n'a encore été proposée</h5>
            </div>
        {% endif %}
      </section>
    </main>
{% endblock %}
