{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style_home.css')}}">
{% endblock %}

{% block body %}

  <div class="flash home">
    {% include "shared/_messages_flash.html.twig" %}
  </div>

  <div class="banner">
    <div class="top">
      <div id="titre">
        <h1>Joue avec d'autres musiciens près de chez toi</h1>
        <h5>Rencontrer, partager, pour mieux progresser</h5>
      </div>
    </div>
  </div>

  {% if app.user %}
    <section>
      <h2>Toutes les séances proposées par style de musique</h2>
      <div id="rang1">
        <a href="{{path('event_list') ~ '?typeOfMusic=rock\'n\'roll'}}">
          <h3>Rock'n'Roll</h3>
        </a>

        <a href="{{path('event_list') ~ '?typeOfMusic=jazz'}}">
          <h3>Jazz</h3>
        </a>

        <a href="{{path('event_list') ~ '?typeOfMusic=pop%2Frock'}}">
          <h3>Pop</h3>
        </a>
      </div>

      <div id="rang2">
        <a href="{{path('event_list') ~ '?typeOfMusic=metal'}}">
          <h3>Metal</h3>
        </a>

        <a href="{{path('event_list') ~ '?typeOfMusic=classique'}}">
          <h3>Classique</h3>
        </a>

        <a href="{{path('event_list') ~ '?typeOfMusic=reggae'}}">
          <h3>Reggae</h3>
        </a>
      </div>

      <div id="rang3">
        <a href="{{path('event_list') ~ '?typeOfMusic=blues'}}">
          <h3>Blues</h3>
        </a>

        <a href="{{path('event_list') ~ '?typeOfMusic=variété%C2%A0française'}}">
          <h3>Variété française</h3>
        </a>

        <a href="{{path('event_list') ~ '?typeOfMusic=autres'}}">
          <h3>Autres</h3>
        </a>
      </div>
    </section>
  {% endif %}

{% endblock %}