{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/style_event_list.css')}}">
{% endblock %}

{% block body %}
    <div class="flash">
        {% include "shared/_messages_flash.html.twig" %}
    </div>

    <main>
        <section>

            <a href="{{path('user_private_space')}}" class="btn btn-light button-back">
                <i class="fas fa-angle-double-left"></i> Retour
            </a>

            {% if events | length > 0 %}
                <h2>Tu as créé {{events | length}} séance(s) :</h2>

                {% for e in events %}
                    <article>
                        {% include "shared/_event_description.html.twig" with {'event' : e} %}
                        <div class="boutons">
                            <a href="{{path('user_event_show', {'id' : e.id })}}" class="btn btn-primary">
                                <i class="fas fa-info-circle"></i> Détails
                            </a>
                        </div>
                    </article>
                {% endfor %}

            {% else %}
                <div class="no-event">
                    <h5>Tu n'as pas encore créé de séance</h5>
                    <a href="{{path('event_create')}}" class="btn btn-primary">Je propose une nouvelle séance !</a>
                </div>
            {% endif %}

            <a href="{{path('user_private_space')}}" class="btn btn-light button-back">
                <i class="fas fa-angle-double-left"></i> Retour
            </a>
            
        </section>
    </main>
{% endblock %}
