{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/style_event_list.css')}}">
{% endblock %}

{% block body %}

  <div class="flash">
      {% include "shared/_messages_flash.html.twig" %}
  </div>

  <main>
    <section>

      <a href="{{path('user_interested_list')}}" class="btn btn-light button-back">
        <i class="fas fa-angle-double-left"></i> Retour
      </a>

      <article>
        {% include "shared/_event_description.html.twig" with {'event' : event} %}
        <hr>

        {% include "shared/_event_participants.html.twig" with {'replys' : participants} %}
        <hr>

        <div class="comments">
            <h5 class="m-0 mb-2 p-0">Conversation à propos de cette séance :</h5>
            {% include "shared/_conversation.html.twig" with {'allComments' : allComments, 'comments' : comments} %}
        </div>
        <hr>
        
        <div class="boutons">
          <a href="{{path('event_reply_participate', {'id':event.id})}}" class="btn btn-primary">
            <i class="fas fa-check"></i> J'y vais !
          </a>
          <button class="btn btn-dark" id="js-openModalDelete">
              <i class="fas fa-trash-alt"></i> Ça ne m'intéresse plus
          </button>
        </div>
      </article>

      <a href="{{path('user_interested_list')}}" class="btn btn-light button-back">
        <i class="fas fa-angle-double-left"></i> Retour
      </a>

    </section>
  </main>

  {% include "shared/_modal/_delete_interested.html.twig" with {'id' : reply.id } %}

{% endblock %}

{% block javascripts %}
    <script src={{asset('js/deleteModal.js')}}></script>
{% endblock %}
