{% extends "base.html.twig" %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('css/style_user_event_list.css')}}">
{% endblock %}

{% block body %}
    <div class="flash">
        {% include "shared/_messages_flash.html.twig" %}
    </div>

    <main>
      <section>
        {% if replys | length > 0 %}
            <h2>Tu t'es inscrit(e) à {{replys | length}} séance(s) :</h2>

            {% for r in replys %}
                <article>
                    <div class="top">
                    <h3>{{r.event.title}}</h3>
                    <div>
                        <h6 class="m-0 me-2 p-0">Date :</h6>
                        <p class="m-0 p-0">le {{r.event.meetingDatetime | date('d/m/Y')}} à {{r.event.meetingDatetime | date('H:i')}}</p>
                    </div>
                    <div>
                        <h6 class="m-0 me-2 p-0">Lieu :</h6>
                        <p class="m-0 p-0">
                        {{r.event.meetingPlace}}, {{r.event.meetingPostalCode}}, {{r.event.meetingCity}}
                        </p>
                    </div>
                    </div>

                    <div class="bas">
                        <div>
                            <h6 class="m-0 me-2 p-0">Instrument(s) :</h6>
                            <p class="m-0 p-0">
                                {% for i in r.event.instrument %}
                                    {{i}}  
                                {% endfor %}               
                            </p>
                        </div>
                        <div>
                            <h6 class="m-0 me-2 p-0">Style(s) de musique :</h6>
                            <p class="m-0 p-0">
                                {% for type in r.event.typeOfMusic %}
                                    {{type}}  
                                {% endfor %}
                            </p>
                        </div>
                        <div>
                            <h6 class="m-0 me-2 p-0">Infos supplémentaires :</h6>
                            <p class="m-0 p-0">{{r.event.content}}</p>
                        </div>
                    </div>

                    <div class="boutons">
                        <a href="{{path('user_participate_show', {'id' : r.id })}}" class="btn btn-primary">
                            <i class="fas fa-info-circle"></i> Détails
                        </a>
                    </div>
                </article>
            {% endfor %}

        {% else %}
            <div class="no-event">
                <h5>Tu ne participes à aucune séance pour le moment</h5>
                <a href="{{path('event_list')}}" class="btn btn-primary">Consulter les séances !</a>
            </div>
        {% endif %}
      </section>
    </main>
{% endblock %}
