{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/style_registerForm.css')}}">
{% endblock %}

{% block body %}
    <main>
        <h1>Tes informations personnelles</h1>

        {{ form_start(form) }}
            {# {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.agreeTerms) }} #}

            {{ form_widget(form) }}

            <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}

    </main>
{% endblock %}
