{% apply inline_css %}
    <style>
        {# here, define your CSS styles as usual #}
        @import url('https://fonts.googleapis.com/css2?family=Sansita&display=swap');

        div {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        }

        .divTitle {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            font-family: "Sansita", sans-serif;
            text-align: center;
            margin: 0 auto;
        }

        .h3 {
            text-align: center;
        }

    </style>

{% endapply %}

<div class="divTitle">
    <h1>Symfonic Team</h1>
</div>

<div class="divText">
    <h3>
        Bonjour {{user.firstName}},
    </h3>
    <p>Nous avons le regret de t'informer que la séance "{{event.title}}" <strong><u>a été annulée</u></strong>.</p>
    <p>
        Séance : "{{event.title}}", créée par {{event.user.firstName}},
        <br>
        initialement prévue le {{event.meetingDatetime | date('d/m/Y')}} à {{event.meetingPlace}}, {{event.meetingPostalCode}} {{event.meetingCity}}
    </p>
    <p>N'hésite pas à t'inscrire à d'autres séances, ou à en proposer une toi-même.</p>
    <p>
        A très vite,
        <br>
        L'équipe Symfonic Team
    </p>
</div>

